@{
    ViewData["Title"] = "Course";
}

<!-- Content Header (Page header) -->

@model CourseModel
<div class="content-header">
    <div class="container-fluid">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Course</h1>
                            </div>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create Course</h3>
                            </div>
                            <form asp-controller="Course" asp-action="Course" method="post" role="form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input asp-for="Title" type="text" class="form-control" placeholder="Enter Title">
                                    </div>

                                    <div class="form-group">
                                        <label>Seat</label>
                                        <input asp-for="SeatCout" type="number" class="form-control" placeholder="Enter Seat Count">
                                    </div>


                                    <div class="form-group">
                                        <label>Fee</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="Fee" type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>