@{
    ViewData["Title"] = "Students";
}

<!-- Content Header (Page header) -->

@model StudentModel
<div class="content-header">
    <div class="container-fluid">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Student</h1>
                            </div>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create Student</h3>
                            </div>
                            <form asp-controller="Student" asp-action="Student" method="post" role="form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                                    </div>
                                    <div class="form-group">
                                        <label>Select Department</label>
                                        <select asp-for="DepartmentId"
                                                asp-items="@Model.GetListOfDepartments()" class="form-control select2" style="width: 100%;">
                                            <option selected="selected">---Select Option---</option>
                                        </select>
                                    </div>
                                    <!-- Date Picker -->
                                    <div class="form-group">
                                        <label>Date Of Birth</label>
                                        <div class="input-group">
                                            <input asp-for="DateOfBirth" type="date" class="form-control float-right">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h3 class="m-0 text-dark">  Student Info   </h3>
                            </div>
                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                Inserted Data
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Name: @Model.Name</label>
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth: @Model.DateOfBirth</label>
                                </div>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>