@{
    ViewData["Title"] = "Welcome";
}

<!-- Content Header (Page header) -->


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Maliha Politex Recruitment Assignment</h1>
            </div> 
        </div>
        <div>
            <br/>
            <h1 class="display-2">Please select Options from Side Bar</h1>
        </div>
    </div> 
</div>