@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Maliha Politex Recruitment Assignmnet (Task-1)</h1>

    <a class="btn btn-primary" href="/Admin">Goto Admin Panel</a>

</div>
